:root {
  --color-bg: #f1f5f9;
  --color-bg-header: #edf1f7;
  --color-bg-footer:aliceblue ;
  --color-logo: #ca8a04;
  --color-title: #2b2f34;
  --color-accent: #6f5900;
  --color-accent2: #fed000;
  --color-navbar-links: #475569;
  --color-text: #585c61;
  --color-catalog-btn: #dee3ea;
  --color-detail-btn: #edf1f7;
  --color-price: #ab2d00;
  --color-card1: #edf1f7;
  --color-card2: rgb(64, 206, 243, 0.1);
  --color-card3: #ffffff;
  --color-card4: rgb(254, 208, 0, 0.1);
  --color-in-stock: #22c55e;
}

