.footer {
  background-color: var(--color-bg-footer);
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text);
  text-align: center;
  width: 100%;
  padding: 20px;
}

.footer-logo {
  display: flex;
  gap: 12px;
  align-items: center;
}

.footer__logo-img {
  width: 20px;
  height: 20px;
}

.footer__logo-text {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-logo);
}

.footer__copyright {
  font-size: 14px;
}

@media (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
}
